.idea
.venv
src/old
.DS_Store
src/__pycache__
evaluation/*/mean_column_transpose_prf.csv
evaluation/*/results
evaluation/*/*.png                                                                                                                                                                                                                                                                                                                                                                                                             (.venv) dchavesf@MacBoo